@import url('https://fonts.cdnfonts.com/css/redaction');

html,
body,
div,
h1,
h2,
p,
a,
img,
center,
ul,
li,
nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

/* heeyyy guys it's niki here B) */

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("images/cassette-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.center {
    /*width: 550px;
    this is for responsiveness! :) */
    width: 5%;
    min-width: 300px;
    padding: 10% 5% 10% 5%;
    /* tried to make it as centered as possible with badding and width */
    margin: 10px auto;
    background: rgba(178, 21, 0, 0.65);
    /* background: rgba(63, 13, 13, 0.65); */
    /* this uses opacity of 65% for the background color */
    text-align: center;
    border-radius: 50px;
    /* no border!!! instead i rounded the corners */
    overflow: none; /* auto; */
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    overflow-y: auto; 
    overflow-x: hidden;
    box-sizing: border-box;
}

.scrollable {
    overflow-y: auto;
    max-height: 55vh; /* 64vh; height of bubble */
    box-sizing: border-box;
}

.scrollable::-webkit-scrollbar {
    display: none; /* hides scrollbar */
}

#logo {
	margin-bottom: 5px;
	text-align: center; 
	/* obviously had to add my little niki watermark as my logo ;) */
    /* display: none; */
}

h1 {
    font-family: 'Redaction 20', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.2em;
    margin: 0 auto 10px auto;
    color: #fff;
}

h2 {
    /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
    font-family: 'Redaction 35', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2em;
    line-height: 1.5em;
    margin: 0px;
    color: #fff;
    text-wrap: wrap;
}

p {
    /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
    font-family: "anaphora-stencil", sans-serif;
    font-weight: 280;
    font-style: normal;
    font-size: 1em;
    color: #fff;
    line-height: 1.4em;
    text-wrap: wrap;
    margin-top: 5px;
}

.metablock {
	font-size: 1.25em;
    line-height: 1.5em;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    gap: 0.35em;
    margin-bottom: 0.5em;
}

#star {
    display: inline;
    font-size: 0.75em;
}

.leftlogo {
    justify-self: start;
    padding-left: 25px;
    padding-top: 35px;
    width: 100px
}

#toplogo {
    width: 80px;
}

.topnav {
    display: flex;
    justify-content: flex-end; /* aligns nav links to the right */
    padding: 0.5em;
    position: relative;
    margin-top: -1em; /* didn't know you could use negative numbers??? lol */
}

.topnav ul {
    display: grid; /* i don't even know if i'm doing this correctly lol */
    grid-template-columns: repeat(2, auto);
    gap: 0.5em;
    padding: 0;
    margin-top: -75px;
    list-style: none;
    justify-content: end;
    width: auto;
}

.topnav li {
    display: flex;
    justify-content: flex-end; 
}

.topnav a {
    color: white;
    text-decoration: none;
    font-family: "anaphora-stencil", sans-serif;
    font-weight: 280;
    font-style: normal;
    padding: 0.5em 1em;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    text-align: right; 
}

/* desktop view!!! my fav */
@media (min-width: 1100px) {
    
    .center {
        /*width: 550px;
        this is for responsiveness! :) */
        width: 53.9%;
        min-width: 300px;
        padding: 4% 8% 5% 8%;
        /* tried to make it as centered as possible with badding and width */
        margin: 30.5px auto;
        background: rgba(178, 21, 0, 0.65);
        /* background: rgba(63, 13, 13, 0.65); */
        /* this uses opacity of 65% for the background color */
        text-align: center;
        border-radius: 50px;
        /* no border!!! instead i rounded the corners */
        overflow: none; /* auto; */
        overflow-x: hidden;
        scrollbar-width: none; 
        -ms-overflow-style: none; 
        box-sizing: border-box;  
    }

    .scrollable {
        overflow-y: auto;
        max-height: 65vh; /* 64vh; height of bubble */
        box-sizing: border-box;
    }

    .scrollable::-webkit-scrollbar {
        display: none; /* hides scrollbar */
    }

    #logo {
        margin-bottom: 5px;
        text-align: center;
        /* obviously had to add my little niki watermark as my logo ;) */
    }
    
    hr {
        margin-bottom: 1em;
    }
    
    h1 {
        font-family: 'Redaction 20', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 4em;
        margin: 0 auto 10px auto;
        color: #fff;
    }
    
    h2 {
        /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
        font-family: 'Redaction 35', sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 2.3em;
        line-height: 1.5em;
        margin: 0px;
        color: #fff;
    }

    p {
        /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
        font-family: "anaphora-stencil", sans-serif;
        font-weight: 280;
        font-style: normal;
        font-size: 1.1em;
        color: #fff;
        line-height: 1.4em;
        text-wrap: wrap;
        margin-top: 5px;
    }

    .metablock {
        font-size: 1.25em;
        line-height: 1.5em;
        display: flex; 
        align-items: center;
        justify-content: center;
        gap: 0.35em;
        margin-bottom: 0.5em;
    }
    
    #desc {
        line-height: 1.5em;
        font-size: 0.95em;
    }

    .leftlogo {
        justify-self: start;
        padding-left: 30px;
        padding-top: 20px;
        width: 100px;
    }
    
    #toplogo {
        width: 100px;
    }

    .topnav {
        flex-wrap: nowrap;
        padding: 0 3em;
        justify-content: flex-end; 
        margin-top: -80.5px;
        margin-right: 4px;
    }

    .topnav ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        gap: 1em;
        list-style: none;
    }
    
    .topnav li {
        display: flex;
        align-items: center;
    }
    
    .topnav a {
        color: white;
        text-decoration: none;
        font-family: "anaphora-stencil", sans-serif;
        font-weight: 280;
        font-style: normal;
        padding: 0.5em 1em;
        border-radius: 8px;
        transition: background-color 0.3s ease;
        display: inline-block; 
    }
    
    .topnav a:hover {
        background-color: rgba(178, 21, 0, 0.65);
    }
}

/* tablet (medium) view */
@media (min-width: 700px) and (max-width: 1100px) {

    .center {
        /*width: 550px;
        this is for responsiveness! :) */
        width: 70%;
        min-width: 300px;
        padding: 4% 8% 5% 8%;
        /* tried to make it as centered as possible with badding and width */
        margin: 30.5px auto;
        background: rgba(178, 21, 0, 0.65);
        /* background: rgba(63, 13, 13, 0.65); */
        /* this uses opacity of 65% for the background color */
        text-align: center;
        border-radius: 50px;
        /* no border!!! instead i rounded the corners */
        overflow: none; /* auto; */
        overflow-x: hidden;
        scrollbar-width: none; 
        -ms-overflow-style: none; 
        box-sizing: border-box;  
    }

    .scrollable {
        overflow-y: auto;
        max-height: 65vh; /* 64vh; height of bubble */
        box-sizing: border-box;
    }

    .scrollable::-webkit-scrollbar {
        display: none; /* hides scrollbar */
    }

    #logo {
        margin-bottom: 5px;
        text-align: center;
        /* obviously had to add my little niki watermark as my logo ;) */
    }
    
    hr {
        margin-bottom: 1em;
    }
    
    h1 {
        font-family: 'Redaction 20', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3.8em;
        margin: 0 auto 10px auto;
        color: #fff;
    }
    
    h2 {
        /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
        font-family: 'Redaction 35', sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 2.2em;
        line-height: 1.5em;
        margin: 0px;
        color: #fff;
    }

    p {
        /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
        font-family: "anaphora-stencil", sans-serif;
        font-weight: 280;
        font-style: normal;
        font-size: 1.1em;
        color: #fff;
        line-height: 1.4em;
        text-wrap: wrap;
        margin-top: 5px;
    }

    #desc {
        line-height: 1.5em;
        font-size: 0.95em;
    }
}
